[Unit]
Description=RPiDiskWiper
After=dev-%i.device
BindsTo=dev-%i.device
Requisite=dev-%i.device

[Service]
WorkingDirectory=__DIR__
Type=oneshot
ExecStart=__DIR__/wipe %i
StandardOutput=journal

[Install]
WantedBy=dev-%i.device
